$(".thanks-for-registering").append("<p class='thanks'>Thank you for your registering, we'll reach out to you shortly!</p>");
// $("#registration_name").val("");
// $("#registration_email").val("");
// $("#registration_phone").val("");
// $("#registration_guardian").val("");
// $("#registration_phone").val("");
// $("#registration_guardian_phone").val("");
// $("#registration_guardian_phone").val("");
// $("#registration_guardian_phone").val("");
// $("#registration_guardian_phone").val("");
$(".string").val("");
$(".check_boxes").val("");