<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">About Dan</h4>
      </div>

      <div class="modal-body">
        Dan Salganik, the founder of Course Pioneer, is a recent college graduate with a history of starting businesses. From his first small-scale t-shirt business that he started in high-school, to FunderHut, an online community fundraising platform raising thousands of dollars through successful projects, Dan has been able to take what he has learned and apply it to his teaching. Dan has spent years learning and training to teach a wide variety of students in a way that goes beyond just pen and paper. He has also spoken at numerous panels, conferences, and events with attendance in the hundreds.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>