<% content_for :title do %>Intro to Entrepreneurship<% end %>

<section class="course-info-entrep">
  <div class="container">
    <div class="featured-content">

      <div class="left col-md-6 col-md-offset-1">
        <div class="class-name col-md-12">
          <h2>ENTREPRENEURSHIP</h2>
        </div>
        <div class="intro-info col-md-12">
          <div class="info-title">
            <h3>Class description</h3>
            <p>We will introduce entrepreneurship, build individualized business plans to student’s business ideas, and showcase what was learned to an audience of students, parents, and judges.</p>
          </div>
        </div>
      </div>

      <div class="teacher-pic col-md-3 col-md-offset-2">
        <img src="/assets/dan.jpg" alt="">
        <h4 >Instructor: <span class="bio-link" data-toggle="modal" data-target="#myModal">Dan Salganik</h4>
        <%= render 'modal' %>
      </div>

    </div>
  </div>
</section>

<section class="container entrep-main-points">

  <div class="main-points col-md-7">
    <h3>Class Takeaways</h3>
    <ul class="main-points-list">
      <li>Spend 8 sessions networking with like-minded motivated students</li>
      <li>Build their own business plan and present to panel of parents, students, and judges</li>
      <li>Daily open discussion and active participation through activities</li>
      <li>Learning to conceptualize, build, and communicate business ideas</li>
      <li>Understand entrepreneurial failure and success</li>
      <li>Learn about building a business model</li>
      <li>Go over ethics, social responsibility, and triple bottom line</li>
      <li>Learn about demographics, target market, and understanding the customer</li>
      <li>Pains and gains of customers in order to solve a problem</li>
      <li>Mission, Branding, Logos, Slogans</li>
      <li>Revenue, Profit, Costs</li>
      <li>Web presence</li>
      <li>Bring in local entrepreneurs to speak to class</li>
      <li>And much more…!</li>
    </ul>
  </div>

  <div class="schedule col-md-5">
    <h3>Class Schedule</h3>
    <h4>EVANSTON LOCATION</h4>
    <ul class="dates">
      <li><span class="days">Mon - Thu</span><span class="date">August 11th - 21st</span><span class="time">5:00pm - 6:30pm</span></li>
      <li><span class="days">Mon - Thu</span><span class="date">Sept. 22nd - Oct. 2nd</span><span class="time">6:30pm - 8:00pm</span></li>
      <li><span class="days">Sundays</span><span class="date">Sept. 14th - Nov. 9th</span><span class="time">10:00am - 11:30am</span></li>
      <li><span class="days">Sundays</span><span class="date">Sept. 28th - Nov. 23rd</span><span class="time">1:30pm - 3:00pm</span></li>
    </ul>
    <h4>CHICAGO LOCATION</h4>
    <ul class="dates">
      <li><span class="days">Saturdays</span><span class="date">Sept. 13th - Nov. 8th</span><span class="time">10:00am - 11:30am</span></li>
    </ul>
    <div class="register-link col-md-6 col-md-offset-3" data-toggle="modal" data-target="#myModal2">Register now</div>
    <%= render 'register_modal' %>
    <p class="price col-md-12">Classes are $375 for 8 sessions</p>
  </div>
  
</section>




