<section class="course-info">
	<div class="container">
		<div class="featured-content">
			<div class="teacher-pic col-md-3">
				
			</div>
			<div class="intro-info">
				
			</div>
			<div class="class-registration">
				
			</div>
		</div>
	</div>
</section>