<section class="course-info-ps">
	<div class="container">
		<div class="featured-content">

			<div class="left col-md-6 col-md-offset-1">
				<div class="class-name col-md-12">
					<h2>PUBLIC SPEAKING</h2>
				</div>
				<div class="intro-info col-md-12">
					<div class="info-title">
						<h3>Class description</h3>
						<p>We will introduce entrepreneurship, build individualized business plans to student’s business ideas, and showcase what was learned to an audience of students, parents, and judges.</p>
					</div>
				</div>
			</div>
			<div class="teacher-pic col-md-3 col-md-offset-2">
				<img src="/assets/dan.jpg" alt="">
				<h4 >Instructor: <span class="bio-link" data-toggle="modal" data-target="#myModal">Dan Salganik</h4>
				<%= render 'modal' %>
			</div>

		</div>
	</div>
</section>

<section class="container ps-main-points">
	<div class="main-points col-md-8">
		<h3>Class Takeaways</h3>
			<ul class="main-points-list">
				<li>Spend 8 weeks networking with like-minded motivated students</li>
				<li>Multiple opportunities to speak, as well as present to parents and students</li>
				<li>Daily open discussion and active participation through activities</li>
				<li>Learn by watching speakers and discussing their strengths and weaknesses</li>
				<li> Writing and presenting persuasive, informative, and entertainment speeches</li>
				<li> Learning to face your fears</li>
				<li>Proper posture and speech techniques</li>
				<li>Understanding, creating, and presenting an elevator pitch</li>
				<li>Improvisation exercises for thinking on your feet</li>
				<li>Gradually learning to memorize speeches</li>
				<li>Learning how to tell your story</li>
				<li>Bring in local entrepreneur to speak to class</li>
				<li>And much more…!</li>
			</ul>
		</div>
</section>