<% content_for :title do %>Public Speaking<% end %>

<section class="course-info-ps">
  <div class="container">
    <div class="featured-content">

      <div class="left col-md-6 col-md-offset-1">
        <div class="class-name col-md-12">
          <h1>PUBLIC SPEAKING</h1>
        </div>
        <div class="intro-info col-md-12">
          <div class="info-title">
            <h3>Class description</h3>
            <p>Strong communication skills are vital. We will focus on speech preparation and delivery, getting comfortable with an audience, and creating an impact. Students will present numerous speeches, including a final speech to all students and parents.</p>
          </div>
        </div>
      </div>
      
      <div class="teacher-pic col-md-3 col-md-offset-2">
        <img src="/assets/dan.jpg" alt="">
        <h4 >Instructor: <span class="bio-link" data-toggle="modal" data-target="#myModal">Dan Salganik</h4>
        <%= render 'modal' %>
      </div>

    </div>
  </div>
</section>

<section class="container ps-main-points">
  <div class="main-points col-md-7">
    <h3>Class Takeaways</h3>
    <ul class="main-points-list">
      <li>Spend 8 weeks networking with like-minded motivated students</li>
      <li>Multiple opportunities to speak, as well as present to parents and students</li>
      <li>Daily open discussion and active participation through activities</li>
      <li>Learn by watching speakers and discussing their strengths and weaknesses</li>
      <li> Writing and presenting persuasive, informative, and entertainment speeches</li>
      <li> Learning to face your fears</li>
      <li>Proper posture and speech techniques</li>
      <li>Understanding, creating, and presenting an elevator pitch</li>
      <li>Improvisation exercises for thinking on your feet</li>
      <li>Gradually learning to memorize speeches</li>
      <li>Learning how to tell your story</li>
      <li>Bring in local entrepreneur to speak to class</li>
      <li>And much more…!</li>
    </ul>
  </div>
  <div class="schedule col-md-5">
    <h3>Class Schedule</h3>
    <h4>EVANSTON LOCATION</h4>
    <ul class="dates">
      <li><span class="days">Mon - Thu</span><span class="date">August 11th - 21st</span><span class="time">6:45pm - 8:15pm</span></li>
      <li><span class="days">Mon - Thu</span><span class="date">Sept. 22nd - Oct. 2nd</span><span class="time">8:00pm - 9:30pm</span></li>
      <li><span class="days">Sundays</span><span class="date">Sept. 14th - Nov. 9th</span><span class="time">11:45am - 1:15pm</span></li>
      <li><span class="days">Sundays</span><span class="date">Sept. 28th - Nov. 23rd</span><span class="time">3:15pm - 4:45pm</span></li>
    </ul>
    <h4>CHICAGO LOCATION</h4>
    <ul class="dates">
      <li><span class="days">Saturdays</span><span class="date">Sept. 13th - Nov. 8th</span><span class="time">11:45am - 1:15pm</span></li>
    </ul>
    <div class="register-link col-md-6 col-md-offset-3" data-toggle="modal" data-target="#myModal2">Register now</div>
    <%= render 'register_modal' %>
    <p class="price col-md-12">Classes are $375 for 8 sessions</p>
  </div>
</section>