<section class="course-info-ps">
	<div class="container">
		<div class="featured-content">

		<div class="left col-md-6">
			<div class="class-name col-md-12">
				<h2>PUBLIC SPEAKING</h2>
			</div>
			<div class="intro-info col-md-12">
				<div class="info-title">
					<h3>Class description</h3>
					<p>We will introduce entrepreneurship, build individualized business plans to student’s business ideas, and showcase what was learned to an audience of students, parents, and judges.</p>
				</div>
			</div>
		</div>
		<div class="teacher-pic col-md-3 col-md-offset-2">
			
		</div>

		</div>
	</div>
</section>