<% content_for :title do %>Social Enterprise<% end %>

<section class="course-info-se">
  <div class="container">
    <div class="featured-content">

      <div class="left col-md-6 col-md-offset-1">
        <div class="class-name col-md-12">
          <h2>SOCIAL ENTERPRISE</h2>
        </div>
        <div class="intro-info col-md-12">
          <div class="info-title">
            <h3>Class description</h3>
            <p>Whether it is a not-for-profit or a socially-minded business, the goal is to make a difference. The Social Enterprise class will be a 6 week hands-on learning experience.</p>
          </div>
        </div>
      </div>
      <div class="teacher-pic col-md-3 col-md-offset-2">
        <img src="/assets/dan.jpg" alt="">
        <h4 >Instructor: <span class="bio-link" data-toggle="modal" data-target="#myModal">Dan Salganik</span></h4>
        <%= render 'modal' %>
      </div>
    </div>
  </div>
</section>

<section class="container se-main-points">
  <div class="main-points col-md-7">
    <h3>Class Takeaways</h3>
    <ul class="main-points-list">
      <li>Spend 6 weeks making a difference with like-minded motivated students</li>
      <li>Learn about non-profits and socially-minded for profit businesses</li>
      <li>Spend 4 of 6 weeks working with non-profits or socially responsible for-profits</li>
      <li>Hands-on learning with real non-profits</li>
      <li>Learn about triple bottom for-profit businesses</li>
      <li>Network with socially-minded individuals from local communities</li>
      <li>Learn about business ethics and social responsibility</li>
      <li>Become more involved in the community</li>
      <li>Teaches students that they can make a difference</li>
    </ul>
  </div>
</section>