<section class="course-info-se">
	<div class="container">
		<div class="featured-content">
			<div class="teacher-pic col-md-3">
				
			</div>
			<div class="class-name col-md-5 col-md-offset-1">
				<h2>SOCIAL ENTERPRISE</h2>
			</div>
			<div class="intro-info col-md-5 col-md-offset-1">
				<div class="info-title">
					<h3>Class description</h3>
					<p>We will introduce entrepreneurship, build individualized business plans to student’s business ideas, and showcase what was learned to an audience of students, parents, and judges.</p>
				</div>
			</div>
			<div class="class-registration">
				
			</div>
		</div>
	</div>
</section>