<% content_for :title do %>Frequently Asked Questions<% end %>

<div class="container">

  <%= link_to root_url do %>
    <img src="/assets/logo_dark.jpg" alt="" class="blog-logo">
  <% end %>

  <div class="faq-header">
    <h1>Frequently Asked Questions</h1>
  </div>

  <div class="faq-questions">
  	<h4>How old do you have to be to sign up for Course Pioneer classes?</h4>
		<p>We recommend students ages 13-18 years old take our courses. If a students is younger than 13 years old, parents should understand that classes are designed for high-school aged students.</p>
		<h4>I want to sign up, but the time and/or location does not fit my schedule.</h4>
		<p>We apologize if our courses do not fit your schedule, but send us an email and we will do our best to try to launch new classes in areas where students are available. If we are not able to fill up a class, please inquire about our tutoring/mentor program.</p>
		<h4>How do you choose your teachers?</h4>
		<p>We make it a point to hire high quality teachers by rigorously interviewing them on their knowledge on the subject they plan on teaching, as well as, their general business knowledge. We hire highly-specialized college graduates who are experts in their fields. They must have real-world experience and must continuously stay up-to-date in the business world. Our teachers all are required to have strong leadership and social skills.</p>
		<h4>How do you make sure teachers are providing high quality lessons?</h4>
		<p>We help our teachers build and implement their lesson plans to the best of our ability. We also plan on sitting-in on at least one class per “session” to make sure that teachers are not deviating from the lesson and are providing the utmost quality in teaching. At the end of the “session,” we will provide students and parents with an evaluation form.</p>
		<h4>You call your teachers “Mentors,” what does that mean?</h4>
		<p>We believe that there is more to business than just taking a class; that is why we are committed to providing a more three-dimensional service to our students. As long as a teacher continues to work with Course Pioneer, they will act as a mentor for their students. If a student has questions or needs advice on a particular subject, teachers may act as mentors and help students with their specific needs.</p>
		<h4>Is there a specific order that I should take these courses?</h4>
		<p>Nope. There is no specific order in which you should take our courses. We do, however, recommend taking more than one class in order to become a well-rounded leader.</p>
		<h4>What does a course cost?</h4>
		<p>It typically varies. Check out the specific course page to get more information on the course fees.</p>
		<h4>What is your cancellation/refund policy?</h4>
		<p>Students will be able to cancel their enrollment up to 24 hours before the first day of their classes in order to receive a 100% refund. This is due to the fact that we have to pay for our teachers, facilities, etc... No refunds will be given after that.</p>
		<h4>Are Course Pioneer courses similar to a school classroom setting?</h4>
		<p>Not necessarily. Though our goal is to teach our students, we do not want to do it in the ‘traditional school setting’ format. We believe in experiential learning. This means that we want our students to learn through open discussion, asking questions, and taking a more hands-on approach. (Also, we will never have a class larger than 15 students).</p>
		<h4>What if I want to sign up more than one student?</h4>
		<p>If they are siblings, friends, or even a large group of students, send an email to <a href="mailto:dan@coursepioneer.com">dan@coursepioneer.com</a> about your specific needs and we can figure out pricing.</p>
		<h4>Do you pay for referrals?</h4>
		<p>Yes- if you are referring someone, or someone has referred you to the program and the student has signed up (and not cancelled within 24 hours before a class) then you will receive $25 for every referral*.</p>
		<p>*Siblings count as one referral</p>
		<h4>Are there refunds or credits if a student cannot make it to class?</h4>
		<p>No. It is the obligation of the student to attend the class. If they miss certain classes, they may fall behind.</p>
		<h4>I am interested in being a mentor (teacher).</h4>
		<p>Email <a href="mailto:dan@coursepioneer.com">dan@coursepioneer.com</a> with your resume.</p>
  </div>

</div>