$(".thanks-for-message").append("<p class='thanks'>Thank you for your message, we'll respond to you shortly!</p>");
$("#contact_name").val("");
$("#contact_email").val("");
$("#contact_message").val("");