<div class="modal fade teacher-modal" id="denisebrown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Denise Brown</h4>
      </div>

      <div class="modal-body">
        <div id="denisebrown">
          <p class="teacher-description">
            Denise M. Brown is a writer, speaker and professional coach living in suburban Chicago. She writes and presents about the caregiving experience, an often overlooked life milestone. She launched CareGiving.com in 1996 to connect family caregivers to insights, inspirations and information. In 2010, she debuted AfterGiving.com, which helps individuals transition into their lives after caregiving ends.
            Denise's insights about the family caregiver experience have been featured in Time magazine, The New York Times, The Wall Street Journal, U.S. News & World Report, Money magazine and Chicago Tribune as well as on NPR.org and SmartMoney.com. She served as a community peer reviewer for Pew Research Center's report, Family Caregivers are Wired for Health, released in June 2013.
            Denise has authored five books for family caregivers:
            • Take Comfort, Reflections of Hope for Caregivers;
            • The Caregiving Years, Six Stages to a Meaningful Journey;
            • Take Comfort, Too, More Reflections of Hope for Caregivers;
            • Take More Comfort, Reflections of Hope for Caregivers;
            • Life After Caregiving Ends, A Guide to Beginning Again;
            • Good Morning! Sunny Reflections to Start Your Day; and
            • Take Time, A Journal and Journey Toward Greater Happiness During an Unhappy Time.
            Denise also worked at Tribune Co., a media company based in Chicago, in its Corporate Communications department during the company's most turbulent years, when it went from a public to a private company, when it declared bankruptcy and as it tried to reinvent itself from a traditional media company to a fast-paced digital entity. In her role, she helped draft communications plans about company announcements to employees, shareholders and the press.
            Denise received her life coaching training in 2004 through IPEC, a coaching school, and is credentialed by the International Coach Federation. She graduated from the University of Illinois with a bachelor's degree in English. She is a former board member for Second Sense, based in Chicago, and for the Chicago chapter of International Coach Federation.
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>