<div class="modal fade teacher-modal" id="jessicayagan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Jessica Yagan</h4>
      </div>

      <div class="modal-body">
        <div id="jessicayagan">
          <p class="teacher-description">
            Jessica Droste Yagan brings more than 12 years of experience leveraging markets for positive impact as Impact Engine’s Chief Executive Officer and the former Director of Sustainable Supply for McDonald’s USA. During her time at McDonald’s, Jessica was responsible for leading and advancing the U.S. sustainable supply strategy in partnership with the Supply Chain Management team and McDonald’s suppliers.She also led alignment of global sustainable sourcing at McDonald’s and consulted with city, non-profit, and corporate clients in the areas of strategic planning and corporate social responsibility. Jessica has co-authored two Harvard University case studies on public-private partnerships and is an active member of the newly formed Chicago chapter of Social Venture Partners.
            Jessica earned a Bachelor of Arts in Public Policy from Haverford College, an MBA from Stanford University Graduate School of Business, and a Master of Public Administration from the Harvard University Kennedy School of Government. She lives in the Bucktown with her husband and two children.
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>