<div class="modal fade" id="justinking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Justin King</h4>
      </div>

      <div class="modal-body">
        <div id="justinking">
          <p class="teacher-description">
            Justin King’s articles can be found on dozens of national and international news outlets. He is a regular contributor to The Anti-Media and Digital Journal. As an adviser for the Solutions Institute, he assists activists in learning about investigative techniques and persuasive writing. He has served as a content manager for both print and online publications. He has also authored five books and made several radio show appearances.
            Justin’s articles take the reader from the streets of Ukraine to the jungles of Nigeria. He has provided an inside look at some of the most secretive elements in society, piercing the veil of secrecy around the hacktivist collective Anonymous and delving deep inside militant groups like the Irish Republican Army and the US militia movement.
            His anti-authority views, on the ground reporting, and writing style have led to him being labeled “this generation’s Hunter S. Thompson.”
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>