<div class="modal fade" id="lisacanning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Lisa Canning</h4>
      </div>

      <div class="modal-body">
        <div id="lisacanning">
          <p class="teacher-description">
            Lisa Canning is a main street creative entrepreneur. With a love for the arts, entrepreneurship, creativity and innovation, Lisa has developed, and helped others develop, ventures at the intersection of their creativity and business ideas for over 30 years. Creating organizations that maximize their value potential, while realizing their highest purpose using their creativity, is her passion.
            Lisa Canning is a pioneering female arts entrepreneur who launched her first entrepreneurial venture, at 17, from her 'dorm room' at Northwestern University. In 1983 less than 16,000 students in business schools across the United States were studying entrepreneurship. Back then, very few in the world of the arts knew what the word even meant.
            Lisa Canning has created not one, but six multi-million dollar ventures. Each has experienced double digit growth using her imagination and creativity.
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>