<div class="modal fade" id="rosspeterson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Ross Peterson</h4>
      </div>

      <div class="modal-body">
        <div id="rosspeterson">
          <p class="teacher-description">
            Ross Peters launched his first business ScrapHD in 2008. Scrap HD was an e-commerce platform that provided arts and crafts retailers with a white-labeled solution that gives their customers the ability to create personalized projects online for prints or sharing across the web. After just two years, ScrapHD was acquired by Michaels Stores. Ross went on to becoming the director of digital infrastructure for some time and assisted the launch of the company’s first “live” e-commerce platform.
            Ross is now the CEO of Blitsy, a mobile and online shopping community built in providing discount crafts to customers. This is the first clear e-commerce leader in the $30 Billion arts and crafts industry. The company is two years old and has already raised almost $2 Million dollars within two rounds of funding.
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>