<div class="modal fade teacher-modal" id="timgrace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Tim Grace</h4>
      </div>

      <div class="modal-body">
        <div id="timgrace">
          <p class="teacher-description">
            Tim Grace is currently the Head of Product Management at Trunk Club, a company recently acquired by Nordstrom for $350 Million. Tim is in charge of Trunk Club’s product team, where he helps create personalized relationships at scale via a portfolio of products designed by his team members and stylists. Tim was hired as Trunk Club’s first Product manager and focuses on constantly building a better product and stronger company culture. He has increased efficiencies in the warehouse operations, strengthened online presence, and personalized the product selection process for Trunk Club clients.
            Prior to his position at Trunk Club, Tim led product development, marketing, and user experience as the Product Director at Signal (acquired by BrightTag). He was also the Head of Consumer Products at Apartments.com, where he led a team of product managers and marketers that were responsible for business development, company strategy, and much more.
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>