<div class="container">

	<%= link_to root_url do %>
    <img src="/assets/logo_dark.jpg" alt="" class="blog-logo">
  <% end %>

	<div class="blog-header">
		<h1>The Course Pioneer Experience</h1>
	</div>

	<div class="blog-post col-md-10 col-md-offset-1">

		<div class="blog-post-header">
			<h3 class="header">What we're all about</h3>
		</div>
		<div class="blog-post-date col-md-2">
			<p class="date"><i>Jul 23rd, 2014</i></p>
		</div>
		<h4>What is Course Pioneer?</h4>
		<p class="blog-content col-md-10">
			Course Pioneer is a new and innovative program that focuses on instructing and guiding 
			business and entrepreneurially minded teens and pre-teens to make them more competitive among 
			their peers. Through small class sizes, specialized mentorship, and a results-focused program, Course 
			Pioneer aims to sharpen core skills which allow students to become either entrepreneurs, or leaders in 
			their fields.
		</p>
		<h4 class="col-md-offset-2">About the founder:</h4>

		<p class="blog-content col-md-10 col-md-offset-2">
			Dan Salganik, the founder of Course Pioneer, is a recent college graduate with a history of starting 
			businesses. From his first small-scale t-shirt business that he started in high-school, to FunderHut, an 
			online community fundraising platform raising thousands of dollars through successful projects, Dan 
			has been able to take what he has learned and apply it to his teaching. Dan has spent years learning and 
			training to teach a wide variety of students in a way that goes beyond just pen and paper. He has also 
			spoken at numerous panels, conferences, and events with attendance in the hundreds.
			Dan has many unique ideas and is enthusiastic about the growth of his program. He plans to expand by 
			adding more locations and hiring more specialized teachers. He also wants to create a way to eventually 
			get students, as well as small business owners, connected to one another.
		</p>

		<h4 class="col-md-offset-2">The Vision:</h4>

		<p class="blog-content col-md-10 col-md-offset-2">
			The vision is to create a community of young entrepreneurs that will be connected through our 
			program. As we grow as a company, the plan will be to launch more classes that offer a unique array of 
			hard and soft skills. This is just the ground floor and there is much more to come.
		</p>

		<h4 class="col-md-offset-2">The Goal:</h4>

		<p class="blog-content col-md-10 col-md-offset-2">
			The goal of Course Pioneer is to offer business-related classes that are typically not offered in junior 
			high and high school, such as Entrepreneurship, Public Speaking, and Social Enterprise. Each class in the 
			Course Pioneer program will offer a unique set of skills taught by a college student or young professional 
			that is highly specialized in their field. The goal is to have the class be relatable to the younger students 
			by a mentor/teacher that understands the trends and interactions of the students.
		</p>

		<h4 class="col-md-offset-2">The Courses:</h4>

		<p class="blog-content col-md-10 col-md-offset-2">
			Course Pioneer classes will feature a unique hands-on lesson plan that not only teaches students, but 
			gets them thinking. The goal of the classes will be to get students to go beyond what they learn in the 
			classroom and apply it in a real world setting.
			Classes such as the entrepreneurship course will not only teach students the essential skills that they 
			need to know when coming up with or launching a business, but will also teach them about unique 
			trends, how to build a business from an idea, reaching the customer, understanding failure, thinking 
			outside the box, social responsibility, and much more. Public speaking is a course built around getting 
			students comfortable speaking amongst their peers. Through many exercises, speeches, improvisation 
			games, and gradual learning methods, students should find themselves more comfortable speaking 
			in front of colleagues. Social Enterprise focuses on building a stronger community through socially 
			responsible non-profits and for-profits. We will explore the sustainability model of triple bottom line, 
			visit unique non-profits, and hear from the founders themselves to see what they did to become 
			successful in their endeavors.
			Most Course Pioneer classes build up to a final “project” or presentation which is later presented as a 
			graduation to the course. Family of the students, as well as local business owners are welcome to take 
			part in the accomplishments of the students by watching as they present what they learned.
		</p>
			
			<h4 class="col-md-offset-2"><b>Course Pioneer is not just a place to learn, it is a place to get started.</b></h4>
		</p>
		<hr>
		
	</div>

</div>