<div class="container">
	<div class="blog-header">
		<h1>--blog header will go here--</h1>
	</div>

	<div class="blog-post col-md-10 col-md-offset-1">
		<div class="blog-post-header">
			<h3 class="header">Blog Post Header</h3>
		</div>
		<div class="blog-post-date col-md-2">
			<p class="date"><i>Jul 5, 2014</i></p>
		</div>
		<p class="blog-content col-md-9">Each teacher offers a unique lesson School and employment opportunities are becoming increasingly difficult to obtain plan based on new techniques and School and employment opportunities are becoming increasingly difficult to obtain concepts. Each teacher offers a unique lesson plan based on new techniques and concepts.Each teacher offers a unique lesson plan based on new techniques and concepts..Each teacher offers a unique lesson plan based School and employment opportunities are becoming.</p>
		<p class="blog-content col-md-9 col-md-offset-2">Each teacher offers a unique lesson School and employment opportunities are becoming increasingly difficult to obtain plan based on new techniques and School and employment opportunities are becoming increasingly difficult to obtain concepts. Each teacher offers a unique lesson plan based on new techniques and concepts.Each teacher offers a unique lesson plan based on new techniques and concepts.Each teacher offers a unique lesson plan based</p>
		<hr>
</div>