// import the CSS framework
@import "bootstrap";

body {
  font-family: 'Noto Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
}

$darkteal: #55B4B0;

%teal-button {
  background-color: $darkteal;
  padding: 10px 60px;
  text-decoration: none;
  @extend %transition;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  position: relative;
  border-bottom: 3px solid darken($darkteal, 10%);

  &:hover {
    background-color: darken($darkteal, 5%);
  }
}

%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

.top-section {
  min-height: 400px;
  background-image: url(/assets/school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .headers {
    min-height: 342px;
    font-family: abril-fatface, serif;

    .top-header {
      margin-top: 30px;
      font-size: 20px;
      color: white;
      float: left;
      font-weight: 400;
      letter-spacing:2px;
    }

    .top-content {
      color: white;
      text-align: left;
      margin-top: 60px;
      line-height: 60px;
      font-size: 46px;
      letter-spacing:2px;
      float: left;
    }
  }

  .navigation {
    min-height: 58px;
    font-size: 0;

    .nav {
      text-align: center;

      li {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        color: white;
        letter-spacing: 1px;

        a {
          @extend %transition;
          color: white;

          &:hover {
            background-color: white;
            color: orange;
          }
        }
      }
    }
  }
}

.second-section {
  min-height: 450px;
  // background-color: #f8f9fb; 

  .section-two-header {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    font-family: source-sans-pro, sans-serif;
    border-bottom: 1px solid #bbb;
  }

  .section-two-class-header {
    text-align: center;
    margin-top: 30px;
  }

  .secton-two-content {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Noto Sans', sans-serif;
    
  }

  .link {
  text-align: center;

    .learn-more {
      font-size: 16px;

      &:hover {
      text-decoration: none;
      }
    }
  }
}

.third-section {
  min-height: 188px;
  background-color: $darkteal;

  .third-section-content {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
  }
}

.fourth-section {
  min-height: 620px;

  .bullets {
    display: inline-block;
    margin-bottom: 2%;

    .fa {
      font-size: 40px;
      background-color: #ff6666;
      color: white;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      margin-bottom: 3%;
    }

    .content {
      min-height: 152px;
      margin-top: 3%;

      h3 {
        margin-top: 0px;
        margin-left: 20px;
      }

      p {
        display: inline-block;
        margin-left: 20px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.fifth-section {
  min-height: 200px;
}


