// import the CSS framework
@import "bootstrap";

$darkteal: #55B4B0;

%form-fields {
  width: 50%;
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  padding: 8px 6px 6px 6px;
  line-height: 17px;
  margin: 0 0 16px 0;
  font-family: AvenirLT-Heavy,Helvetica Neue,Helvetica,Arial,sans-serif;
}

%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

%class-page {

  .featured-content {
    margin-top: 40px;
    height: 350px;

    .teacher-pic {
      background-color: white;
      height: 350px;
      padding: 0px;
      box-shadow: 0 0 8px rgba(0,0,0,0.15);
      border-radius: 3px;
    }

    .class-name {
      height: 75px;
      margin-bottom: 75px;      
      background-color:rgba(0, 0, 0, .4) ;
      box-shadow: 0 0 8px rgba(0,0,0,0.15);
      border-radius: 3px;
      color: white;
      text-align: center;
    }

    .intro-info {
      background-color: white;
      height: 200px;
      padding: 0px;
      box-shadow: 0 0 8px rgba(0,0,0,0.15);
      border-radius: 3px;

      .info-title {
        height: 56px;
        background-color: $darkteal;
        border-bottom-color: #3d4e5b;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        h3 {
          margin: 0px;
          font-family: 'Noto Sans', sans-serif;
          color: white; 
          padding: 15px;
        }

        p {
          padding: 15px;
          font-size: 16px;
        }
      }
    }
  }

}

body {
  font-family: 'Noto Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
}

%teal-button {
  background-color: $darkteal;
  padding: 10px 60px;
  text-decoration: none;
  @extend %transition;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  position: relative;
  border-bottom: 3px solid darken($darkteal, 10%);

  &:hover {
    background-color: darken($darkteal, 5%);
  }
}

%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

.top-section {
  min-height: 400px;
  background-image: url(/assets/school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .headers {
    min-height: 342px;
    font-family: abril-fatface, serif;

    .top-header {
      margin-top: 30px;
      font-size: 20px;
      color: white;
      float: left;
      font-weight: 400;
      letter-spacing:2px;
    }

    .top-content {
      color: white;
      text-align: left;
      margin-top: 60px;
      line-height: 60px;
      font-size: 46px;
      letter-spacing:2px;
      float: left;
    }
  }

  .navigation {
    min-height: 58px;
    font-size: 0;

    .nav {
      text-align: center;

      li {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        color: white;
        letter-spacing: 1px;

        a {
          @extend %transition;
          color: white;

          &:hover {
            background-color: white;
            color: $darkteal;
          }
        }
      }
    }
  }
}

.second-section {
  min-height: 450px;
  // background-color: #f8f9fb; 

  .section-two-header {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    font-family: source-sans-pro, sans-serif;
    border-bottom: 1px solid #bbb;
    color: #444;
  }

  .section-two-class-header {
    text-align: center;
    margin-top: 30px;
    color: #444;
  }

  .secton-two-content {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #444;
    line-height: 24px;
    font-family: 'Noto Sans', sans-serif;
    
  }

  .link {
  text-align: center;

    .learn-more {
      font-size: 16px;

      &:hover {
      text-decoration: none;
      }
    }
  }
}

.third-section {
  min-height: 188px;
  background-color: $darkteal;

  .third-section-content {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
  }
}

.fourth-section {
  min-height: 620px;

  .bullets {
    display: inline-block;
    margin-bottom: 2%;

    .fa {
      font-size: 40px;
      background-color: #ff6666;
      color: white;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      text-align: center;
      padding: 10px;
      margin-bottom: 3%;
    }

    .content {
      min-height: 152px;
      margin-top: 3%;

      h3 {
        margin-top: 0px;
        margin-left: 20px;
      }

      p {
        display: inline-block;
        margin-left: 20px;
        font-size: 16px;
        color: #444;
        line-height: 24px;
      }
    }
  }
}

.fifth-section {
  min-height: 250px;
  background-color: #eee;

  .sponsors-header {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #444;
  }

  .sponsors {
    margin-top: 20px;

    .sponsor-logo {
      max-height: 120px;
      max-width: 120px;
      display: inline-block;
      margin-left: 40px;
    }
  }
}

.sixth-section {
  min-height: 500px;

  .contact-us-form {
    border: 1px solid #C0C0C0;
    margin-top: 40px;
    padding: 0px;
    padding-bottom: 30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    border-radius: 3px;

    h3 {
      text-align: center;
      margin: 0px;
      padding: 10px;
      font-family: source-sans-pro, sans-serif;
      color: white;
      background-color: #f3715d;
      margin-bottom: 15px;
    }

    label {
      width: 100px;
      vertical-align: top;
      margin-top: 20px;
    }

    #contact_name, #contact_email {
      @extend %form-fields;
      height: 38px;
      width: 380px;
      font-weight: 400;
      font-size: 16px;
      color: #515357;
      padding-left: 5px;
      margin-top: 10px;
    }

    #contact_message {
      @extend %form-fields;
      width: 380px;
      font-weight: 400;
      font-size: 16px;
      color: #515357;
      padding-left: 5px;
      margin-top: 10px;
      height: 80px;
    }

    .contact-submit {
      height: 40px;
      width: 130px;
      background-color: #4D96B0;
      border: none;
      font-family: 'Noto Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
      @extend %transition;
      font-weight: 600;
      border-radius: 3px;

      &:hover {
        background-color: darken(#4D96B0, 10%)
      }
    }

    .thanks {
      margin-top: 10px;
    }
  }
}

.course-info-entrep {
  min-height: 500px;
  background-image: url('/assets/entrep.jpg');
  @extend %class-page;
  background-repeat: no-repeat;
  background-size: cover;
}

.course-info-se {
  min-height: 500px;
  background-image: url('/assets/se-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @extend %class-page;
}

.course-info-ps {
  min-height: 500px;
  background-image: url('/assets/ps_page.jpg');
  background-position: 0px -300px;
  background-repeat: no-repeat;
  background-size: cover;
  @extend %class-page;
}

.hidden { display: none; }
/*flash*/
